<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @statuses %> 

	<% @statuses.each do |status| %>

	<div class="well">
		<%= status.content %>
		<hr />
		<%= link_to time_ago_in_words(status.created_at) + " ago " ,status %>
    <img src="http://designmodo.com/wp-content/themes/designmodov2.1/flat-ui/images/ico-4.png" style="height:30px;width:30px"/>
	</div>
	<% end %>
	<% end %>


	